<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/css/friends.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="main-framework">

    <!-- up -->
    <div id="main-framework-header">
        <div id="user-info">
            <a href="/homepage/<%= userName %>">
                <div id="user-portrait">
                    <img src="/img/47.jpg" />
                </div>
                <div id="user-id">
                    <%= userName %>
                </div></a>
        </div>
    </div>

    <div id="main-framework-body">

        <!-- left -->
        <div id="main-framework-body-left">
            <ul id="navigation-list">
                <li><a href="/homepage/<%= userName %>">⌂ Home</a></li>
                <li><a href="/friends/<%= userName %>">☺ Friends</a></li>
                <li><a href="/shares/<%= userName %>">✎ Shares</a></li>
                <li><a href="/familyTree/<%= userName %>">Family Tree</a></li>
                <li><a href="/wishes/<%= userName %>">🗒 Wish Lists</a></li>
                <li><a href="/remember/<%= userName %>">🕯 Remember</a></li>
                <li><a href="/settings/<%= userName %>">⚙ Settings</a></li>
            </ul>
        </div>

        <!-- right -->
        <div id="main-framework-body-right">

            <!-- block1 -->

            <div class="block-main">
                <div class="top">
                    <h2>Friend's List</h2>
                </div>
                    <div class="friends">
                        <img src="https://www.infrascan.net/demo/assets/img/avatar5.png" width="60px">
                        <a href="#">Amy</a>
                    </div>
                    <hr>
                    <div class="friends">
                        <img src="https://www.infrascan.net/demo/assets/img/avatar5.png" width="60px">
                        <a href="#">Ben</a>
                    </div>
                    <hr>
                    <div class="friends">
                        <img src="https://www.infrascan.net/demo/assets/img/avatar5.png" width="60px">
                        <a href="#">Louis</a>
                    </div>
                    <hr>
                    <div class="friends">
                        <img src="/img/cat.jpg" width="60px">
                        <a href="#">Zoran</a>
                    </div>
            </div>


        </div>

        <!-- clear -->
        <div style="clear:both"></div>
    </div>
</div>
</body>
</html>