<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/css/friends.css" rel="stylesheet" type="text/css" />
</head>

<script type="text/javascript">
    function search() {
        var keyword = document.getElementById("window_input").value;
        window.location.href = "/friends/<%= user.userName %>?name=" + keyword;
    }
</script>


<body>
<div id="main-framework">

    <!-- up -->
    <div id="main-framework-header">
        <div id="user-info">
            <a href="/homepage/<%= user.userName %>">
                <div id="user-portrait">
                    <img src="<%= user.avatar %>" />
                </div>
                <div id="user-id">
                    <%= user.userName %>
                </div></a>
        </div>
    </div>

    <div id="main-framework-body">

        <!-- left -->
        <div id="main-framework-body-left">
            <ul id="navigation-list">
                <li><a href="/homepage/<%= user.userName %>">⌂ Home</a></li>
                <li><a href="/friends/<%= user.userName %>">☺ Friends</a></li>
                <li><a href="/shares/<%= user.userName %>">✎ Shares</a></li>
                <li><a href="/familyTree/<%= user.userName %>">Family Tree</a></li>
                <li><a href="/wishes/<%= user.userName %>">🗒 Wish Lists</a></li>
                <li><a href="/remember/<%= user.userName %>">🕯 Remember</a></li>
                <li><a href="/settings/<%= user.userName %>">⚙ Settings</a></li>
            </ul>
        </div>

        <!-- right -->
        <div id="main-framework-body-right">

            <!-- block1 -->

            <div class="block-main">
                <!-- block1 -->
                <div class="block">
                    <form name="search" onsubmit="search()">
                        <br>&nbsp;&nbsp;<input type="text" name="name" id = "window_input" placeholder="User Name"/>
                        &nbsp;&nbsp;&nbsp;&nbsp;<input class="s-button" type="submit" value="Search"><br>
                        <br><br>
                    </form>
                </div>
                <div class="top">
                    <h2>Search Result</h2>
                </div>

                    <%users.forEach(function(u){ %>
                    <div class="friends">
                        <a href="/homepage/<%= u.userName %>"><img class="wishimage" src="<%= u.avatar %>" width="60px"/>&nbsp;&nbsp;&nbsp;<%= u.userName %></a>
                    </div>
                    <% })%>

            </div>


        </div>

        <!-- clear -->
        <div style="clear:both"></div>
    </div>
</div>
</body>
</html>