<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="css/homepage.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="main-framework">

    <!-- up -->
    <div id="main-framework-header">
        <div id="user-info">
            <a href="homepage<%= userName %>">
                <div id="user-portrait">
                    <img src="/img/47.jpg" />
                </div>
                <div id="user-id">
                    <%= userName %>
                </div></a>
        </div>
    </div>

    <div id="main-framework-body">

        <!-- left -->
        <div id="main-framework-body-left">
            <ul id="navigation-list">
                <li><a href="homepage<%= userName %>">⌂ Home</a></li>
                <li><a href="friends<%= userName %>">☺ Friends</a></li>
                <li><a href="shares<%= userName %>">✎ Shares</a></li>
                <li><a href="familyTree<%= userName %>">Family Tree</a></li>
                <li><a href="wishes<%= userName %>">🗒 Wish Lists</a></li>
                <li><a href="remember<%= userName %>">🕯 Remember</a></li>
                <li><a href="settings<%= userName %>">⚙ Settings</a></li>
            </ul>
        </div>

        <!-- right -->
        <div id="main-framework-body-right">

            <!-- block1 -->
            <div class="block">
                <div class="block-content">
                    <p><a href="settings<%= userName %>">Profile</a></p>
                    <p>
                        <br>First Name:&nbsp;&nbsp;<%= firstName %>
                        <br>Last Name:&nbsp;&nbsp;<%= lastName %>
                        <br>Gender:&nbsp;&nbsp;<%= gender %>
                        <br>Birthday:&nbsp;&nbsp;<%= dob %>
                        <br>Email:&nbsp;&nbsp;<%= email %>
                    </p>
                </div>
            </div>

            <!-- block2 -->
            <div class="block">
                <div class="block-content">
                    <p><a href="experience<%=userName%>">Experience</a></p>
                    <p><br><%= experience.content %></p>
                </div>
                <div class="block-bottom">
                    <%= experience.time %>
                </div>
            </div>

        </div>

        <!-- clear -->
        <div style="clear:both"></div>
    </div>
</div>
</body>
</html>