<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/css/remember.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="main-framework">

    <!-- up -->
    <div id="main-framework-header">
        <div id="user-info">
            <a href="/homepage/<%= user.userName %>">
                <div id="user-portrait">
                    <img src="/img/47.jpg" />
                </div>
                <div id="user-id">
                    <%= user.userName %>
                </div></a>
        </div>
    </div>

    <div id="main-framework-body">

        <!-- left -->
        <div id="main-framework-body-left">
            <ul id="navigation-list">
                <li><a href="/homepage/<%= user.userName %>">⌂ Home</a></li>
                <li><a href="/friends/<%= user.userName %>">☺ Friends</a></li>
                <li><a href="/shares/<%= user.userName %>">✎ Shares</a></li>
                <li><a href="/familyTree/<%= user.userName %>">Family Tree</a></li>
                <li><a href="/wishes/<%= user.userName %>">🗒 Wish Lists</a></li>
                <li><a href="/remember/<%= user.userName %>">🕯 Remember</a></li>
                <li><a href="/settings/<%= user.userName %>">⚙ Settings</a></li>
            </ul>
        </div>

        <!-- right -->
        <div id="main-framework-body-right">
            <!-- block1 -->
            <div class="block">
                <div class="block-content">

                </div>
                <div class="block-bottom">
                    ❀：0&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>

            <!-- block2 -->
            <div class="block">
                <div class="block-content">
                    <p>Epitaph</p>
                    <div id="epitaph">
                    <form method="post">
                        <textarea id="epitaphText" name="Epitaph"></textarea>
                        <input type="submit" value="Submit">
                    </form>
                    </div>
                </div>
                <div class="block-bottom">
                    &nbsp;&nbsp;20:00&nbsp;&nbsp;Jun 2,2018
                </div>
            </div>

            <!-- block3 -->
            <div class="block">
                <div class="block-main">
                    <p>Friends' Comments</p>
                    <div class="list">
                        <ul id="wish-list">
                        <% comment.forEach(function (comment) { %>
                            <li>
                            <img src="<%= comment.avatar%>" class="avatar">
                            <%= comment.comment %>
                                <div id="time">
                                <%= comment.time%>
                                </div>
                                <hr>
                        <% }) %>

                            </li>
                        </ul>
                    </div>
                </div>

                <div class="block-main">
                    <button class="collapsible">Comment</button>
                    <div id="comment">
                        <form method="post" name="commentForm" onsubmit="return validateForm()">
                            <textarea id="commentText" name="comment"></textarea>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>


        </div>

        <!-- clear -->
        <div style="clear:both"></div>
    </div>
</div>
<script>
    function validateForm(){
        var x = document.forms["commentForm"]["comment"].value;
        if(x==""){
            alert("Comment must not be blank");
            return false;
        }
        if(x.length > 140){
            alert("Maximum length 140");
            return false;
        }

    }
</script>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
</body>
</html>