<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/css/settingsAccount.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="main-framework">

    <!-- up -->
    <div id="main-framework-header">
        <div id="user-info">
            <a href="homepage<%= userName %>">
                <div id="user-portrait">
                    <img src="/img/47.jpg" />
                </div>
                <div id="user-id">
                    <%= userName %>
                </div></a>
        </div>
    </div>

    <div id="main-framework-body">

        <!-- left -->
        <div id="main-framework-body-left">
            <ul id="navigation-list">
                <li><a href="/homepage/<%= userName %>">⌂ Home</a></li>
                <li><a href="/friends/<%= userName %>">☺ Friends</a></li>
                <li><a href="/shares/<%= userName %>">✎ Shares</a></li>
                <li><a href="/familyTree/<%= userName %>">Family Tree</a></li>
                <li><a href="/wishes/<%= userName %>">🗒 Wish Lists</a></li>
                <li><a href="/remember/<%= userName %>">🕯 Remember</a></li>
                <li><a href="/settings/<%= userName %>">⚙ Settings</a></li>
                <li>
                    <ul id="navigation-list-settings">
                        <li>- <a href="/settings/<%= userName%>">Profile</a></li>
                        <li>- <a href="/settingsAccount/<%= userName%>">Account</a></li>
                        <li>- <a href="/settingsPrivacy/<%= userName%>">Privacy</a></li>
                        <li>- <a href="/settingsBlockedUsers/<%= userName%>">Blocked users</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- right -->
        <div id="main-framework-body-right">

            <div id="right-block">
                <h2 id="page-title">Change Password</h2>
                <hr>
                <div id="form-group">
                    <form>
                        Old password<br>
                        <input class="form-control" type="password" name="oldpassword"><br><br>
                        New password<br>
                        <input class="form-control" type="password" name="newpassword"><br><br>
                        Confirm new password<br>
                        <input class="form-control" type="password" name="confirm_new_password"><br><br>
                        <button type="submit">Update password</button>
                        <span><a href="/password_reset">I forgot my passowrd</a></span>
                    </form>
                </div>
            </div>

        </div>

    </div>

    <!-- clear -->
    <div style="clear:both"></div>
</div>
</div>
</body>
</html>