<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/css/settingsBlockedUsers.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="main-framework">

    <!-- up -->
    <div id="main-framework-header">
        <div id="user-info">
            <a href="homepage<%= userName %>">
                <div id="user-portrait">
                    <img src="/img/47.jpg" />
                </div>
                <div id="user-id">
                    <%= userName %>
                </div></a>
        </div>
    </div>

    <div id="main-framework-body">

        <!-- left -->
        <div id="main-framework-body-left">
            <ul id="navigation-list">
                <li><a href="/homepage/<%= userName %>">⌂ Home</a></li>
                <li><a href="/friends/<%= userName %>">☺ Friends</a></li>
                <li><a href="/shares/<%= userName %>">✎ Shares</a></li>
                <li><a href="/familyTree/<%= userName %>">Family Tree</a></li>
                <li><a href="/wishes/<%= userName %>">🗒 Wish Lists</a></li>
                <li><a href="/remember/<%= userName %>">🕯 Remember</a></li>
                <li><a href="/settings/<%= userName %>">⚙ Settings</a></li>
                <li>
                    <ul id="navigation-list-settings">
                        <li>- <a href="/settings/<%= userName%>">Profile</a></li>
                        <li>- <a href="/settingsAccount/<%= userName%>">Account</a></li>
                        <li>- <a href="/settingsPrivacy/<%= userName%>">Privacy</a></li>
                        <li>- <a href="/settingsBlockedUsers/<%= userName%>">Blocked users</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- right -->
        <div id="main-framework-body-right">

            <div id="right-block">
                <div>
                    <h2 class="subhead">Block a user</h2>
                    <hr>
                    <div class="content">
                        <div id="blocking-info">
                            <p>Blocking a user prevents them from</p>
                            <ul class="info">
                                <li>a</li>
                                <li>b</li>
                                <li>c</li>
                                <li>d</li>
                                <li>e</li>
                                <li>f</li>
                            </ul>
                            <br>
                        </div>

                        <form id="block-a-user">
                            Search by full name or email address<br>
                            <input type="text" placeholder="Search..">
                            <button id="block-btn" type="submit">Block user</button>
                        </form>
                    </div>
                </div>

                <div id="bu-2">
                    <h2 class="subhead">Blocked users</h2>
                    <hr>
                    <div class="box">
                        <ul class="js-blocked-list">
                            <div class="empty">
                                You have not blocked any users yet.
                            </div>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- clear -->
    <div style="clear:both"></div>
</div>
</div>
</body>
</html>