<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/css/wishes.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="main-framework">

    <!-- up -->
    <div id="main-framework-header">
        <div id="user-info">
            <a href="homepage<%= userName %>">
                <div id="user-portrait">
                    <img src="/img/47.jpg" />
                </div>
                <div id="user-id">
                    <%= userName %>
                </div></a>
        </div>
    </div>

    <div id="main-framework-body">

        <!-- left -->
        <div id="main-framework-body-left">
            <ul id="navigation-list">
                <li><a href="homepage<%= userName %>">⌂ Home</a></li>
                <li><a href="friends<%= userName %>">☺ Friends</a></li>
                <li><a href="shares<%= userName %>">✎ Shares</a></li>
                <li><a href="familyTree<%= userName %>">Family Tree</a></li>
                <li><a href="wishes<%= userName %>">🗒 Wish Lists</a></li>
                <li><a href="remember<%= userName %>">🕯 Remember</a></li>
                <li><a href="settings<%= userName %>">⚙ Settings</a></li>
            </ul>
        </div>

        <!-- right -->
        <div id="main-framework-body-right">

            <!-- block1 -->
            <div class="block">
                <div class="block-main">
                    <p><h1>My Wish</h1></p>
                    <form name="wish" method="post">
                        <br>&nbsp;&nbsp;<textarea name="content" rows="20" cols="80"><%= wish.content %></textarea><br>
                        <br>&nbsp;&nbsp;<input class="s-button" type="submit">
                    </form>
                </div>
            </div>

        </div>

        <!-- clear -->
        <div style="clear:both"></div>
    </div>
</div>
</body>
</html>